.nav{
  grid-area: n;
  background-color: rgb(226, 214, 43);
  padding: 25px;
  width: 150px;
}
.item {
  color: rgb(255, 255, 255);
  text-decoration: none;
  
  
}
.active {
  color: rgb(40, 75, 39);
  
}
.friends{
  margin-top: 200px;
}